body { background-color: #ffccff}
body.1stplayer { text-align: left; }
body.2ndplayer { text-align: right; }
.col-md-6 { border-style: solid; border-color:#990000 ; background-color: black; color: #990000;}
<center>
  <h1 class= "pl1">Princess Bubblegum</h1>
  <h2>vs</h2>
  <h1 class= "pl2">Vampire Queen</h1>
</center>


<audio controls autoplay>
  <source src="doit.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

.pl1 {color: #ff80bf; font-family:"Lucida Console", Monaco, monospace;}
.pl2 {color:  #595959; font-family:"Lucida Console", Monaco, monospace;}
.player1 {color: #660066; border-style: solid; border-color: #660066; background-color: #ff99ff; font-family:"Lucida Console", Monaco, monospace;}
.player2 {color: #4d0000; border-style: solid; border-color: #4d0000; background-color: #ff8080; font-family:"Lucida Console", Monaco, monospace;}


.pl1 {color: #ff80bf;   font-family: "Comic Sans MS", cursive, sans-serif;}
.pl2 {color:  #595959;   font-family: "Comic Sans MS", cursive, sans-serif;}
.player1 {color: #660066; border-style: solid; border-color: #660066; background-color: #ff99ff;   font-family: "Comic Sans MS", cursive, sans-serif;}
.player2 {color: #4d0000; border-style: solid; border-color: #4d0000; background-color: #ff8080;   font-family: "Comic Sans MS", cursive, sans-serif;}
